@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    box-shadow: 10px 10px 12px black,-10px -10px 22px #c7c5c5;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#head{
    font-size: 30px;
    font-weight: 700;

}
.btns{
    display: flex;
    align-items: center;
    gap: 60px;
}
.btns .next,.prev{
    padding: 5px 25px;
}
#count{
    font-size: 60px;
    padding: 10px;
}