body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #918f8f;
}
.container{
    background-color: coral;
    width: 300px;
    height: 200px;
    position: relative;

   
    .pop{
        position: absolute;
        width: auto;
        height: 10px;
        border-top: 100px solid white;
        border-left: 150px solid transparent;
        border-bottom: 100px solid transparent;
        border-right: 150px solid transparent;
        transform-origin: top;
        transition: 1s;
        z-index: 3;
    
    }
    
    .final{
        width: 80%;
        height: 80%;
        z-index: 0;

         img{
            width: 220px;
            height: 180px;
            margin-top: 20px;
            margin-left: 32px;
        }
    }
    .green{
        position: absolute;
        border-top: 100px solid transparent;
        border-left: 150px solid #e5f19d;
        border-bottom: 100px solid #e5f19d;
        border-right: 150px solid #d4ee3f;;
        z-index: 1;
    }
    
}


.pop:hover{
    transform-origin: top;
    transform: perspective(1500px) rotateX(180deg);
    z-index: 0;
   .final{
        transform:  translateY(50px);
      }
}


 .container:hover .final img{
    transform: translateY(-45px);
    z-index: 9;
    transition-delay: 0.5s;
  }



.container:hover{ 
    transform: translateY(50px);

}